<div class="container mt-5">
<h1><%= @restaurant.name %> <small><%= @restaurant.address %></small></h1>
<h2>
  <!-- If Retaurant = 0, pluralize makes it say, "0 Reviews", if 1, "1 Review" -->
  <%= pluralize @restaurant.reviews.size, "review" %>
</h2>

<div id="reviews">
  <% if @restaurant.reviews.blank? %>
    Be the first to leave a review for <%= @restaurant.name %>
  <% else %>
    <% @restaurant.reviews.each do |review| %>
      <p><%= review.content %></p>
    <% end %>
  <% end %>
</div>

<!-- [ @restaurant, @review ] == form action="/restaurant/:id/reviews" -->
<%= simple_form_for([ @restaurant, @review ], remote: true) do |f| %>
  <%= f.input :content %>
  <%= f.button :submit, class:"btn btn-primary" %>
<% end %>
</div>
